openapi: 3.1.0
info:
  title: Groove REST API v1 Agents Groups API
  description: 'The Groove REST API v1 provides programmatic access to Groove help-desk

    resources including tickets, messages, customers, agents, groups,

    mailboxes, folders, attachments, webhooks, knowledge bases, and widgets.

    Note: v1 REST is no longer in active development; Groove recommends the

    new GraphQL API for richer features.

    '
  version: '1.0'
  contact:
    name: Groove Developers
    url: https://developer.groovehq.com
servers:
- url: https://api.groovehq.com/v1
  description: Groove REST API base URL
security:
- bearerAuth: []
- accessTokenQuery: []
tags:
- name: Groups
paths:
  /groups:
    get:
      summary: List groups
      operationId: listGroups
      responses:
        '200':
          description: A list of groups.
      tags:
      - Groups
    post:
      summary: Create a group
      operationId: createGroup
      responses:
        '201':
          description: The created group.
      tags:
      - Groups
  /groups/{id}:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    get:
      summary: Find a group
      operationId: findGroup
      responses:
        '200':
          description: The requested group.
      tags:
      - Groups
    put:
      summary: Update a group
      operationId: updateGroup
      responses:
        '200':
          description: The updated group.
      tags:
      - Groups
    delete:
      summary: Delete a group
      operationId: deleteGroup
      responses:
        '204':
          description: Group deleted.
      tags:
      - Groups
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 / personal access token via Authorization header.
    accessTokenQuery:
      type: apiKey
      in: query
      name: access_token
      description: Access token passed as a URL query parameter.
