openapi: 3.1.0
info:
  title: Groove REST API v1 Agents Messages API
  description: 'The Groove REST API v1 provides programmatic access to Groove help-desk

    resources including tickets, messages, customers, agents, groups,

    mailboxes, folders, attachments, webhooks, knowledge bases, and widgets.

    Note: v1 REST is no longer in active development; Groove recommends the

    new GraphQL API for richer features.

    '
  version: '1.0'
  contact:
    name: Groove Developers
    url: https://developer.groovehq.com
servers:
- url: https://api.groovehq.com/v1
  description: Groove REST API base URL
security:
- bearerAuth: []
- accessTokenQuery: []
tags:
- name: Messages
paths:
  /messages:
    get:
      summary: List messages
      operationId: listMessages
      responses:
        '200':
          description: A list of messages.
      tags:
      - Messages
    post:
      summary: Create a message
      operationId: createMessage
      responses:
        '201':
          description: The created message.
      tags:
      - Messages
  /messages/{id}:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    get:
      summary: Find a message
      operationId: findMessage
      responses:
        '200':
          description: The requested message.
      tags:
      - Messages
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 / personal access token via Authorization header.
    accessTokenQuery:
      type: apiKey
      in: query
      name: access_token
      description: Access token passed as a URL query parameter.
